@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Hind|VT323');


body {
   background-color: whitesmoke;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: cover;
}
header {
    margin: 0 auto;
    display: block;
    text-align: center;
    justify-content: center;
}
h1 {
    font-family: "VT323";
    text-align: center;
    margin: 0 auto;
}
div {
  display: block;
  position: relative;
}

div::after {
  content: "";
  background: url("images/babies.jpg");
  background-size: cover;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}
#sanfrancisco {
    display: block;
    margin: 0 auto;
    justify-content: center;
}
h2 {
    font-family: "Cinzel Decorative";
    text-align: center;
    color: #FF0000;
    text-shadow: 0 0 10px #C3B146;
}
p {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.new {
    display: flex;
    flex-direction: row;
    justify-content: all;
}
.location {
    display: block;
    padding: 15px;
    border: 3px solid #fff;
    width: 33.33%;
    justify-content: center;
}
.newDate {
    display: inline-block;
    padding: 15px;
    border: 3px solid #fff;
    width: 33.33%;
}
.newTime {
        display: inline-block;
    padding: 15px;
    border: 3px solid #fff;
     width: 33.33%;
}
form {
    text-align: center;
    position: relative;
}
#dog {
    width: 20%;
}
#button {
   text-align: center;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}
#button2 {
   text-align: center;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}
#cat {
    width: 20%;
}
#dogImage {
    display: flex;
}
#dogHumanAge::after {
    font: 14px italic "Cinzel Decorative";
}
#catImage {
    display: flex;
}
span {
    font-family: "VT323";
    font-style: italic;
    color: red;
}